@use '../mixins/flexbox.scss' as*;
@use '../mixins/hover.scss' as*;
@use '../mixins/pseudo.scss' as*;
@use '../mixins/responsive.scss' as*;

.button-container{
    padding-top: 15vh;
}
.button{
    &--go{
        
        padding: 2rem;
        background-color: var(--secondary-color);
        border-radius: 50%;
        &-js{
            background-color: var(--primary-color);
        }
    }
}
