@use '../mixins/flexbox.scss' as*;
@use '../mixins/hover.scss' as*;
@use '../mixins/pseudo.scss' as*;
@use '../mixins/responsive.scss' as*;

.header{
    @include flexbox(flex,row,nowrap,space-between,center);
    position: fixed;
    z-index: var(--z-index-1000);
    width: 100vw;
    padding: 1.5rem var(--pad-l);
}
