@use '../mixins/flexbox.scss' as*;
@use '../mixins/hover.scss' as*;
@use '../mixins/pseudo.scss' as*;
@use '../mixins/responsive.scss' as*;

.home{
    position: relative;
    top: 3rem;
    padding: var(--pad-l);
    @include responsive(tablet){
        padding: var(--pad-xl); 
    }
}

.home--unshow{
  transform: translateY(150%) ;
  transition: transform 1s;
}