@use '../mixins/flexbox.scss' as*;
@use '../mixins/hover.scss' as*;
@use '../mixins/pseudo.scss' as*;
@use '../mixins/responsive.scss' as*;

.home{
    position: relative;
    top: 8rem;
    padding: var(--pad-l);
    @include responsive(tablet){
        padding: var(--pad-xl); 
    }
}

.home--unshow{
  transform: translateY(100vh) ;
  transition: transform 0.5s;
  transition-delay: 1s;
}