@use '../mixins/flexbox.scss' as *;
@use '../mixins/hover.scss' as *;
@use '../mixins/pseudo.scss' as *;
@use '../mixins/responsive.scss' as *;

.icon-arrow {
  position: absolute;
  top: 15vh;
  width: 40%;
  pointer-events: none;
  @include responsive(laptop) {
    top: 0vh;
  }
  @include responsive(desktop) {
    width: 30%;
  }
  &--js {
    top: 65vh;
    left: 10%;
    transform: rotate(180deg);
    @include responsive(laptop) {
      top: 46vh;
    }
    @include responsive(desktop) {
      top: 45vh;
    }
  }
}

.draw-arrow {
  fill: none;
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  &--show {
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-name: draw;
  }
  &--unshow {
    stroke-dashoffset: 0;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-name: undraw;
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes undraw {
  to {
    stroke-dashoffset: 400;
  }
}
