@use '../mixins/flexbox.scss' as *;
@use '../mixins/hover.scss' as *;
@use '../mixins/pseudo.scss' as *;
@use '../mixins/responsive.scss' as *;

.projects-list-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: var(--secondary-color);

  &--css {
    transform: translateY(100vh);
  }
  &--js {
    transform: translateY(100vh);
  }
  &--show {
    position: fixed;
    top: 0;
    transform: translateY(0);
  }
}

.projects-list {
  position: absolute;
  right: 15vw;
  top: 15vh;
  @include responsive(tablet) {
  }
  @include responsive(laptop) {
  }
  &__item {
    width: 35vw;
    padding: 1rem 0;
    border-bottom: 2px solid var(--third-color);
    @include responsive(laptop) {
      
    }
  }
  &__link {
    font-size: var(--text-l);
    font-family: var(--secondary-font-medium);
    color: var(--third-color);
    pointer-events: none;
    @include responsive(tablet) {
      font-size: var(--text-xxl);
    }
    @include responsive(laptop) {
      font-size: var(--text-xxl);
    }
    &--index {
      padding-right: 0.5rem;
      font-family: sans-serif;
      font-size: var(--text-s);
    }
  }
}
