@use '../mixins/flexbox.scss' as*;
@use '../mixins/hover.scss' as*;
@use '../mixins/pseudo.scss' as*;
@use '../mixins/responsive.scss' as*;


.projects-list-container{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: var(--secondary-color);
   
    &--css{
        transform: translateY(100vh);
    }
    &--js{
        transform: translateY(100vh);
    }
   &--show{
    position: fixed;
    top: 0;
    transform: translateY(0);
   }
}


.projects-list{
   position: absolute;
   right: 18vw;
   top: 20vh;
    @include responsive(tablet){
        
    }
    @include responsive(laptop){
        
    }
    &__item{
        width: 30vw;
        margin-bottom: 1.5rem;
        border-bottom: 2px solid var(--third-color);
        @include responsive(laptop){
        margin-bottom: 2rem;
        }
    }
    &__link{
        font-size: var(--text-l);
        font-family: var(--secondary-font-medium);
        color: var(--third-color);
        @include responsive(tablet){
            font-size: var(--text-xxl);
        }
        @include responsive(laptop){
            font-size: var(--text-xxl);
        }
        &--index{
            padding-right: 0.5rem;
      font-family: sans-serif;
      font-size: var(--text-s);
        }
    }
}