@use '../mixins/flexbox.scss' as*;
@use '../mixins/hover.scss' as*;
@use '../mixins/pseudo.scss' as*;
@use '../mixins/responsive.scss' as*;

.socials{
   @include flexbox(flex,column,nowrap,start,center);
   gap: 1rem;
    
    &__item{
        @include flexbox(flex,row,nowrap,space-between,center);
        width: 100%;
        &::after{
            @include pseudo(1rem, 1rem){
               left: 38%;
                background-image: url('/assets/images/right-arrow.svg');
                
            }
        }
    }
    &__link{
        font-size: var(--text-m);
        font-family: var(--secondary-font-regular);

    }
    @include responsive(desktop){
        width: 30%;
        flex-direction: row;
        &__item::after{
            left: 10%;
        }
    }
}